<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inbox</title>
    <style>
        .cl {
        text-align:center;
        border: 1px;
        width:100%:
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        margin: 4px 2px;
        cursor: pointer;
        }
    </style>
</head>
<body>

<h1 style="text-align:center">Inbox</h1>

{% for i in inbox %}

<a href="{{ i.0 }}/">{{ i.2 }}</a>

{% endfor %}

</body>
</html>