<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
  <style>
  .c {
        text-align:left
        }

  .cl {
        text-align:center;
        border: 1px;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        margin: 4px 2px;
        cursor: pointer;
        }
  </style>
</head>
<body style="background-color:#00bbff">

<h1 class="c">Welcome To Your Mail</h1>
<br>
<h2 class="c">You Can Choose To Send E-mails</h2>
<h3 class="c">OR</h3>
<h2 class="c">Read Your Inbox</h2>
<br><br>
<a class="cl" style="background-color:#00a2dc" href="inbox/">Inbox</a>
<br>
<a class="cl" style="background-color:#00a2dc" href="sendmail/">Send-Email</a>

</body>
</html>